<!-- ADMIN DASHBOARD FOR ADMINS -->
{% extends 'base.html' %}

{% block title %} Admin Dash | AceInc {% endblock %}

{% block content %}

<!-- Admin dashboard -->

<section class="page-section text-center">
    <p><strong>Welcome {{session['user']['username']}}</strong></p>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <a href="{{ url_for('user_viewer') }}" class="text-decoration-none text-dark">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">User Management</h5>
                            <p class="card-text text-center">
                                <li>View Users</li>
                                <li>Edit credentials</li>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Post Management</h5>
                            <p class="card-text text-center">
                                <li>View posts via Titles</li>
                                <li>Edit status of post</li>
                            </p>
                        </div>
                    </div>
                </a>
            </div>



{% endblock %}