{% extends 'base.html' %}

{% block title %}Categories | AceInc{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if session['user']['role'] != 'reader' %}
    <a href="#" class="btn btn-primary mb-4">Add New Category</a>
    {% endif %}
    <div class="row justify-content-center">
        {% for cat in categories %}
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="card cat-card mb-4 w-100">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ cat['cat_name'] }}</strong></h5>
                    <p class="card-text">{{ cat['description'] }}</p>
                    <a href="#" class="btn btn-primary">See blogs for category</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
