<!-- Confrim a registered email by sending a code via email, and request its input when registered -->
{% extends 'base.html'%}

{% block title %}Confirmation | AceInc{% endblock %}

{% block content %}
<div class="confirmation-container">
    <form method="post">
        <label for="confirmation code"><strong>Confirmation Code</strong></label>
        <input type="text" class="form-control" id="code" name="code" required>
        <p class="text-muted">
            Please enter the confirmation code sent to your email.
            The email is most likely in your spam folder if you can't find it.
            if you haven't received an email, please check your spam folder or try registering again.
        </p>
        
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
    </form>
</div>
{% endblock %}